@import "tailwindcss";
@plugin "daisyui";

/* Global reset and styles */

:root {
  --primary-color: #000000;
  --secondary-color: #ea1b23;
}
/* Reset Body */
body {
  background-color: white;
  font-family: var(--font-tiro-bangla);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--primary-color);
  transition: background-color 0.3s ease;
}
.eng-font {
  font-family: var(--font-roboto);
}
/* Custom Classes For Color */
.bg-site-secondary {
  background-color: var(--secondary-color);
}
.bg-site-primary {
  background-color: var(--primary-color);
}
.text-site-secondary {
  background-color: var(--secondary-color);
}
.text-site-primary {
  color: var(--primary-color);
}
.cta-menus {
  font-size: 15px;
  overflow-x: auto;
}

@media only screen and (max-width: 600px) {
  .footer-menus {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-bar,
  .bottom-bar {
    display: none;
  }
  .header-logo {
    display: flex;
    justify-content: end;
  }
}
